In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Preprocessing for time stamped Corona Cases on german county level

## Load Dataset from Robert-Koch-Institut with included time stamps.

In [20]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
df_agg = pd.read_csv('data/RKI_Corona_Landkreise_updated.csv')
df_agg = df_agg.filter(['BL', 'BL_ID', 'EWZ', 'NUTS', 'Shape__Area', 'Shape__Length', 'cases', 'cases_per_100k', 'cases_per_population', 'county', 'death rate', 'deaths', 'last_update'])
df_agg.head(20)

                    BL  BL_ID      EWZ   NUTS   Shape__Area  Shape__Length  cases  cases_per_100k  cases_per_population                     county  deaths       last_update
0   Schleswig-Holstein      1    89504  DEF01  4.918293e+07   42752.592015     13       14.524491              0.014524               SK Flensburg       0  24.03.2020 00:00
1   Schleswig-Holstein      1   247548  DEF02  1.122314e+08  104373.457289     52       21.006027              0.021006                    SK Kiel       1  24.03.2020 00:00
2   Schleswig-Holstein      1   217198  DEF03  2.116771e+08  146459.457897     36       16.574738              0.016575                 SK LÌ_beck       1  24.03.2020 00:00
3   Schleswig-Holstein      1    79487  DEF04  7.140224e+07   54863.995416     10       12.580674              0.012581             SK NeumÌ_nster       0  24.03.2020 00:00
4   Schleswig-Holstein      1   133210  DEF05  1.425511e+09  250768.570200     15       11.260416              0.011260            LK Dithmarschen       0  24.03.2020 00:00
5   Schleswig-Holstein      1   197264  DEF06  1.262107e+09  255833.719818     42       21.291264              0.021291     LK Herzogtum Lauenburg       0  24.03.2020 00:00
6   Schleswig-Holstein      1   165507  DEF07  2.088326e+09  638776.023240     20       12.084081              0.012084           LK Nordfriesland       0  24.03.2020 00:00
7   Schleswig-Holstein      1   200581  DEF08  1.385825e+09  361935.231065     15        7.478276              0.007478             LK Ostholstein       0  24.03.2020 00:00
8   Schleswig-Holstein      1   314391  DEF09  6.367902e+08  185849.136734     80       25.446021              0.025446               LK Pinneberg       0  24.03.2020 00:00
9   Schleswig-Holstein      1   128647  DEF0A  1.082369e+09  228984.759756     23       17.878380              0.017878                   LK PlÌ¦n       0  24.03.2020 00:00
10  Schleswig-Holstein      1   272775  DEF0B  2.167736e+09  371442.746317     46       16.863716              0.016864  LK Rendsburg-EckernfÌ¦rde       0  24.03.2020 00:00
11  Schleswig-Holstein      1   200025  DEF0C  1.989341e+09  437586.513613     29       14.498188              0.014498     LK Schleswig-Flensburg       0  24.03.2020 00:00
12  Schleswig-Holstein      1   276032  DEF0D  1.345048e+09  287922.801843     30       10.868305              0.010868                LK Segeberg       0  24.03.2020 00:00
13  Schleswig-Holstein      1   131347  DEF0E  1.017354e+09  206757.303494     19       14.465500              0.014465               LK Steinburg       0  24.03.2020 00:00
14  Schleswig-Holstein      1   243196  DEF0F  7.656416e+08  254210.277474     48       19.737167              0.019737                LK Stormarn       0  24.03.2020 00:00
15             Hamburg      2  1841179  DE600  7.420817e+08  234529.147982   1043       56.648484              0.056648                 SK Hamburg       0  24.03.2020 00:00
16       Niedersachsen      3   248292  DE911  1.922479e+08   96243.240009     54       21.748586              0.021749            SK Braunschweig       0  24.03.2020 00:00
17       Niedersachsen      3   104948  DE912  2.249334e+08  109246.816466     24       22.868468              0.022868              SK Salzgitter       0  24.03.2020 00:00
18       Niedersachsen      3   124151  DE913  2.049177e+08   91260.769875     28       22.553181              0.022553               SK Wolfsburg       1  24.03.2020 00:00
19       Niedersachsen      3   175920  DE914  1.568403e+09  281623.329721     34       19.326967              0.019327                 LK Gifhorn       0  24.03.2020 00:00

In [28]:
df_time = pd.read_csv('data/RKI_COVID19.csv', index_col=[0]).drop(columns=['NeuerFall', 'NeuerTodesfall', 'ObjectId'])
df_time.head(20)

    IdBundesland          Bundesland     Landkreis Altersgruppe Geschlecht  AnzahlFall  AnzahlTodesfall  Meldedatum  IdLandkreis        Datenstand
0              1  Schleswig-Holstein  SK Flensburg      A15-A34          M           1                0  2020-03-14         1001  01.04.2020 00:00
1              1  Schleswig-Holstein  SK Flensburg      A15-A34          M           2                0  2020-03-19         1001  01.04.2020 00:00
2              1  Schleswig-Holstein  SK Flensburg      A15-A34          M           1                0  2020-03-21         1001  01.04.2020 00:00
3              1  Schleswig-Holstein  SK Flensburg      A15-A34          M           1                0  2020-03-27         1001  01.04.2020 00:00
4              1  Schleswig-Holstein  SK Flensburg      A15-A34          W           1                0  2020-03-14         1001  01.04.2020 00:00
5              1  Schleswig-Holstein  SK Flensburg      A15-A34          W           2                0  2020-03-18         1001  01.04.2020 00:00
6              1  Schleswig-Holstein  SK Flensburg      A15-A34          W           1                0  2020-03-28         1001  01.04.2020 00:00
7              1  Schleswig-Holstein  SK Flensburg      A35-A59          M           1                0  2020-03-14         1001  01.04.2020 00:00
8              1  Schleswig-Holstein  SK Flensburg      A35-A59          M           1                0  2020-03-20         1001  01.04.2020 00:00
9              1  Schleswig-Holstein  SK Flensburg      A35-A59          W           1                0  2020-03-14         1001  01.04.2020 00:00
10             1  Schleswig-Holstein  SK Flensburg      A35-A59          W           2                0  2020-03-19         1001  01.04.2020 00:00
11             1  Schleswig-Holstein  SK Flensburg      A35-A59          W           1                0  2020-03-20         1001  01.04.2020 00:00
12             1  Schleswig-Holstein  SK Flensburg      A35-A59          W           1                0  2020-03-28         1001  01.04.2020 00:00
13             1  Schleswig-Holstein  SK Flensburg      A35-A59          W           1                0  2020-03-29         1001  01.04.2020 00:00
14             1  Schleswig-Holstein  SK Flensburg      A60-A79          M           1                0  2020-03-24         1001  01.04.2020 00:00
15             1  Schleswig-Holstein  SK Flensburg      A60-A79          M           2                0  2020-03-26         1001  01.04.2020 00:00
16             1  Schleswig-Holstein  SK Flensburg      A60-A79          W           2                0  2020-03-26         1001  01.04.2020 00:00
17             1  Schleswig-Holstein  SK Flensburg         A80+          M           2                0  2020-03-31         1001  01.04.2020 00:00
18             1  Schleswig-Holstein  SK Flensburg         A80+          W           1                0  2020-03-30         1001  01.04.2020 00:00
19             1  Schleswig-Holstein       SK Kiel      A15-A34          M           1                0  2020-03-10         1002  01.04.2020 00:00

In [53]:
df_time.Altersgruppe.unique()

array(['A15-A34', 'A35-A59', 'A60-A79', 'A80+', 'A00-A04', 'A05-A14',
       'unbekannt'], dtype=object)

In [ ]:
def granular_dict(agegroup, sex, infected, death):
    
    dict = {
        
    }


def init_dict(df):
    dict = {
        'Infected': 0,
        'Death': 0,
        'Recovered': None,
        
    }

In [50]:
df_time  = df_time.astype({'IdLandkreis': 'float64'})
#df_time.Meldedatum.iloc[5]
Altersgruppen = df_time.Altersgruppe.unique()
Geschlechter = df_time.Geschlecht.unique()
LK_list = df_time.Landkreis.unique()
grouped = df_time.groupby('Landkreis')
lk = 'SK Flensburg'
df_tmp1 = grouped.get_group(lk)
Meldedaten = df_tmp1.Meldedatum.unique()
df_tmp2 = pd.DataFrame(data=[lk, df_temp.Bundesland.iloc[0], df_temp.IdBundesland.iloc[0], df_temp.IdLandkreis.iloc[0]])
df
#for lk in LK_list:
#    df_temp = grouped.get_group(lk)

    IdBundesland          Bundesland     Landkreis Altersgruppe Geschlecht  AnzahlFall  AnzahlTodesfall  Meldedatum  IdLandkreis        Datenstand
0              1  Schleswig-Holstein  SK Flensburg      A15-A34          M           1                0  2020-03-14       1001.0  01.04.2020 00:00
1              1  Schleswig-Holstein  SK Flensburg      A15-A34          M           2                0  2020-03-19       1001.0  01.04.2020 00:00
2              1  Schleswig-Holstein  SK Flensburg      A15-A34          M           1                0  2020-03-21       1001.0  01.04.2020 00:00
3              1  Schleswig-Holstein  SK Flensburg      A15-A34          M           1                0  2020-03-27       1001.0  01.04.2020 00:00
4              1  Schleswig-Holstein  SK Flensburg      A15-A34          W           1                0  2020-03-14       1001.0  01.04.2020 00:00
5              1  Schleswig-Holstein  SK Flensburg      A15-A34          W           2                0  2020-03-18       1001.0  01.04.2020 00:00
6              1  Schleswig-Holstein  SK Flensburg      A15-A34          W           1                0  2020-03-28       1001.0  01.04.2020 00:00
7              1  Schleswig-Holstein  SK Flensburg      A35-A59          M           1                0  2020-03-14       1001.0  01.04.2020 00:00
8              1  Schleswig-Holstein  SK Flensburg      A35-A59          M           1                0  2020-03-20       1001.0  01.04.2020 00:00
9              1  Schleswig-Holstein  SK Flensburg      A35-A59          W           1                0  2020-03-14       1001.0  01.04.2020 00:00
10             1  Schleswig-Holstein  SK Flensburg      A35-A59          W           2                0  2020-03-19       1001.0  01.04.2020 00:00
11             1  Schleswig-Holstein  SK Flensburg      A35-A59          W           1                0  2020-03-20       1001.0  01.04.2020 00:00
12             1  Schleswig-Holstein  SK Flensburg      A35-A59          W           1                0  2020-03-28       1001.0  01.04.2020 00:00
13             1  Schleswig-Holstein  SK Flensburg      A35-A59          W           1                0  2020-03-29       1001.0  01.04.2020 00:00
14             1  Schleswig-Holstein  SK Flensburg      A60-A79          M           1                0  2020-03-24       1001.0  01.04.2020 00:00
15             1  Schleswig-Holstein  SK Flensburg      A60-A79          M           2                0  2020-03-26       1001.0  01.04.2020 00:00
16             1  Schleswig-Holstein  SK Flensburg      A60-A79          W           2                0  2020-03-26       1001.0  01.04.2020 00:00
17             1  Schleswig-Holstein  SK Flensburg         A80+          M           2                0  2020-03-31       1001.0  01.04.2020 00:00
18             1  Schleswig-Holstein  SK Flensburg         A80+          W           1                0  2020-03-30       1001.0  01.04.2020 00:00

In [109]:
df_time = df_time[df_time['IdLandkreis']!='0-1']

In [110]:
df_time.shape

(8230, 10)

### Load and merge data from other RKI_Corona_Landkreise.csv

In [111]:
nuts = pd.read_csv('data/RKI_Corona_Landkreise.csv')
nuts = nuts.filter(['county', 'NUTS'])

In [112]:
df_time = pd.merge(left=df_time, right=nuts, how='left', left_on='Landkreis', right_on='county').drop(columns=['county'])
df_time.head()

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,NUTS
0,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,M,2,0,154936,2020-03-18T00:00:00.000Z,15003,DEE03
1,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154937,2020-03-12T00:00:00.000Z,15003,DEE03
2,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154938,2020-03-17T00:00:00.000Z,15003,DEE03
3,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154939,2020-03-10T00:00:00.000Z,15003,DEE03
4,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154940,2020-03-19T00:00:00.000Z,15003,DEE03

### Load and merge data about population numbers, sex and density

In [113]:
BV = pd.read_csv('data/Landkreise1.csv', encoding = "utf-8", sep=';').drop(columns=['LandkreisId'])
BV.head()

   NUTS3      Flaeche Bevoelkerung   maennlich    weiblich    Dichte
0  DEF01        56,73       89 504      44 599      44 905     1 578
1  DEF02       118,65      247 548     120 566     126 982     2 086
2  DEF03       214,19      217 198     104 371     112 827     1 014
3  DEF04        71,66       79 487      39 241      40 246     1 109
4  DEF05     1 428,17      133 210      65 720      67 490        93

In [114]:
BV['NUTS3'].unique().shape

(245,)

In [115]:
df_time['NUTS'].unique().shape

(394,)

In [116]:
df_time = pd.merge(left=df_time, right=BV, how='left', left_on='NUTS', right_on='NUTS3').drop(columns=['NUTS'])
df_time.head()

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,NUTS3,Flaeche,Bevoelkerung,maennlich,weiblich,Dichte
0,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,M,2,0,154936,2020-03-18T00:00:00.000Z,15003,NaN,NaN,NaN,NaN,NaN,NaN
1,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154937,2020-03-12T00:00:00.000Z,15003,NaN,NaN,NaN,NaN,NaN,NaN
2,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154938,2020-03-17T00:00:00.000Z,15003,NaN,NaN,NaN,NaN,NaN,NaN
3,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154939,2020-03-10T00:00:00.000Z,15003,NaN,NaN,NaN,NaN,NaN,NaN
4,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154940,2020-03-19T00:00:00.000Z,15003,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_time.to_csv('data/df_time.csv')