In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Preprocessing for time stamped Corona Cases on german county level

## Load Dataset from Robert-Koch-Institut with included time stamps.

In [77]:
df = pd.read_csv('data/RKI_COVID19.csv')
df.head()

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis
0,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,M,2,0,154936,2020-03-18T00:00:00.000Z,15003
1,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154937,2020-03-12T00:00:00.000Z,15003
2,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154938,2020-03-17T00:00:00.000Z,15003
3,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154939,2020-03-10T00:00:00.000Z,15003
4,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154940,2020-03-19T00:00:00.000Z,15003

In [78]:
df = df[df['IdLandkreis']!='0-1']

In [102]:
df.shape

(8230, 10)

### Load and merge data from other RKI_Corona_Landkreise.csv

In [79]:
nuts = pd.read_csv('data/RKI_Corona_Landkreise.csv')
nuts = nuts.filter(['county', 'NUTS'])

In [90]:
df_time = pd.merge(left=df, right=nuts, how='left', left_on='Landkreis', right_on='county').drop(columns=['county'])
df.head()

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,NUTS
0,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,M,2,0,154936,2020-03-18T00:00:00.000Z,15003,DEE03
1,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154937,2020-03-12T00:00:00.000Z,15003,DEE03
2,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154938,2020-03-17T00:00:00.000Z,15003,DEE03
3,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154939,2020-03-10T00:00:00.000Z,15003,DEE03
4,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154940,2020-03-19T00:00:00.000Z,15003,DEE03

### Load and merge data about population numbers, sex and density

In [91]:
BV = pd.read_csv('data/Landkreise1.csv', encoding = "utf-8", sep=';').drop(columns=['LandkreisId'])
BV.head()

   NUTS3      Flaeche Bevoelkerung   maennlich    weiblich    Dichte
0  DEF01        56,73       89 504      44 599      44 905     1 578
1  DEF02       118,65      247 548     120 566     126 982     2 086
2  DEF03       214,19      217 198     104 371     112 827     1 014
3  DEF04        71,66       79 487      39 241      40 246     1 109
4  DEF05     1 428,17      133 210      65 720      67 490        93

In [107]:
BV['NUTS3'].unique().shape

(245,)

In [106]:
df['NUTS'].unique().shape

(394,)

In [101]:
df = pd.merge(left=merged_left, right=BV, how='left', left_on='NUTS', right_on='NUTS3').drop(columns=['NUTS'])
df.head()

,NUTS3,Flaeche,Bevoelkerung,maennlich,weiblich,Dichte,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis
0,DEF01,"56,73",89 504,44 599,44 905,1 578,1.0,Schleswig-Holstein,SK Flensburg,A15-A34,M,1.0,0.0,146938.0,2020-03-14T00:00:00.000Z,01001
1,DEF01,"56,73",89 504,44 599,44 905,1 578,1.0,Schleswig-Holstein,SK Flensburg,A15-A34,M,2.0,0.0,146939.0,2020-03-19T00:00:00.000Z,01001
2,DEF01,"56,73",89 504,44 599,44 905,1 578,1.0,Schleswig-Holstein,SK Flensburg,A15-A34,W,1.0,0.0,146940.0,2020-03-14T00:00:00.000Z,01001
3,DEF01,"56,73",89 504,44 599,44 905,1 578,1.0,Schleswig-Holstein,SK Flensburg,A15-A34,W,2.0,0.0,146941.0,2020-03-18T00:00:00.000Z,01001
4,DEF01,"56,73",89 504,44 599,44 905,1 578,1.0,Schleswig-Holstein,SK Flensburg,A35-A59,M,1.0,0.0,146942.0,2020-03-14T00:00:00.000Z,01001