In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [77]:
df = pd.read_csv('data/RKI_COVID19.csv')
df.head()

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis
0,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,M,2,0,154936,2020-03-18T00:00:00.000Z,15003
1,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154937,2020-03-12T00:00:00.000Z,15003
2,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154938,2020-03-17T00:00:00.000Z,15003
3,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154939,2020-03-10T00:00:00.000Z,15003
4,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154940,2020-03-19T00:00:00.000Z,15003

In [78]:
df = df[df['IdLandkreis']!='0-1']

In [79]:
nuts = pd.read_csv('data/RKI_Corona_Landkreise.csv')
nuts = nuts.filter(['county', 'NUTS'])

In [90]:
merged_left = pd.merge(left=df, right=nuts, how='left', left_on='Landkreis', right_on='county').drop(columns=['county'])
merged_left.head()

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,NUTS
0,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,M,2,0,154936,2020-03-18T00:00:00.000Z,15003,DEE03
1,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154937,2020-03-12T00:00:00.000Z,15003,DEE03
2,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154938,2020-03-17T00:00:00.000Z,15003,DEE03
3,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154939,2020-03-10T00:00:00.000Z,15003,DEE03
4,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154940,2020-03-19T00:00:00.000Z,15003,DEE03

In [91]:
BV = pd.read_csv('data/Landkreise1.csv', encoding = "utf-8", sep=';').drop(columns=['LandkreisId'])
#BV['LandkreisId'] = BV['LandkreisId'].apply(lambda x: '{0:0>5}'.format(x))
#BV['Bevoelkerung', ' maennlich', 'weiblich', 'Dichte'] = BV['Bevoelkerung', ' maennlich', 'weiblich', 'Dichte'].str.strip()
#BV['Bevoelkerung'] = BV['Bevoelkerung'].str.strip()
BV.head()

   NUTS3      Flaeche Bevoelkerung   maennlich    weiblich    Dichte
0  DEF01        56,73       89 504      44 599      44 905     1 578
1  DEF02       118,65      247 548     120 566     126 982     2 086
2  DEF03       214,19      217 198     104 371     112 827     1 014
3  DEF04        71,66       79 487      39 241      40 246     1 109
4  DEF05     1 428,17      133 210      65 720      67 490        93

In [93]:
BV['NUTS3'].unique()

array(['DEF01', 'DEF02', 'DEF03', 'DEF04', 'DEF05', 'DEF06', 'DEF07',
       'DEF08', 'DEF09', 'DEF0A', 'DEF0B', 'DEF0C', 'DEF0D', 'DEF0E',
       'DEF0F', 'DE600', 'DE911', 'DE912', 'DE913', 'DE914', 'DE916',
       'DE917', 'DE918', 'DE91A', 'DE91B', 'DE91C', 'DE929', 'DE922',
       'DE923', 'DE925', 'DE926', 'DE927', 'DE928', 'DE931', 'DE932',
       'DE933', 'DE934', 'DE935', 'DE936', 'DE937', 'DE938', 'DE939',
       'DE93A', 'DE93B', 'DE941', 'DE942', 'DE943', 'DE944', 'DE945',
       'DE946', 'DE947', 'DE948', 'DE949', 'DE94A', 'DE94B', 'DE94C',
       'DE94D', 'DE94E', 'DE94F', 'DE94G', 'DE94H', 'DE501', 'DE502',
       'DEA11', 'DEA12', 'DEA13', 'DEA14', 'DEA15', 'DEA16', 'DEA17',
       'DEA18', 'DEA19', 'DEA1A', 'DEA1B', 'DEA1C', 'DEA1D', 'DEA1E',
       'DEA1F', 'DEA22', 'DEA23', 'DEA24', 'DEA2D', 'DEA26', 'DEA27',
       'DEA28', 'DEA29', 'DEA2A', 'DEA2B', 'DEA2C', 'DEA31', 'DEA32',
       'DEA33', 'DEA34', 'DEA35', 'DEA36', 'DEA37', 'DEA38', 'DEA41',
       'DEA42', 'DEA43', 'DEA44', 'DEA45', 'DEA46', 'DEA47', 'DEA51',
       'DEA52', 'DEA53', 'DEA54', 'DEA55', 'DEA56', 'DEA57', 'DEA58',
       'DEA59', 'DEA5A', 'DEA5B', 'DEA5C', 'DE711', 'DE712', 'DE713',
       'DE714', 'DE715', 'DE716', 'DE717', 'DE718', 'DE719', 'DE71A',
       'DE71B', 'DE71C', 'DE71D', 'DE71E', 'DE721', 'DE722', 'DE723',
       'DE724', 'DE725', 'DE731', 'DE732', 'DE733', 'DE734', 'DE735',
       'DE736', 'DE737', 'DEB11', 'DEB12', 'DEB13', 'DEB14', 'DEB15',
       'DEB1C', 'DEB17', 'DEB18', 'DEB1D', 'DEB1A', 'DEB1B', 'DEB21',
       'DEB22', 'DEB23', 'DEB24', 'DEB25', 'DEB31', 'DEB32', 'DEB33',
       'DEB34', 'DEB35', 'DEB36', 'DEB37', 'DEB38', 'DEB39', 'DEB3A',
       'DEB3B', 'DEB3C', 'DEB3D', 'DEB3E', 'DEB3F', 'DEB3G', 'DEB3H',
       'DEB3I', 'DEB3J', 'DEB3K', 'DE111', 'DE112', 'DE113', 'DE114',
       'DE115', 'DE116', 'DE117', 'DE118', 'DE119', 'DE11A', 'DE11B',
       'DE11C', 'DE11D', 'DE121', 'DE122', 'DE123', 'DE124', 'DE125',
       'DE126', 'DE127', 'DE128', 'DE129', 'DE12A', 'DE12B', 'DE12C',
       'DE131', 'DE132', 'DE133', 'DE134', 'DE135', 'DE136', 'DE137',
       'DE138', 'DE139', 'DE13A', 'DEF10', 'DEF11', 'DEF12', 'DEF13',
       'DEF14', 'DEF15', 'DEF16', 'DEF17', 'DEF18', 'DE950', 'DE951',
       'DE952', 'DE953', 'DE954', 'DE955', 'DE956', 'DE957', 'DE958',
       'DE503', 'DE504', 'DEA20', 'DEA21', 'DEA25', 'DEA30', 'DE720',
       'DE726', 'DE727', 'DE728', 'DEB16', 'DEB19', 'DEB20', 'DE120'],
      dtype=object)

In [94]:
merged_left['NUTS'].unique()

array(['DEE03', 'DEE04', 'DEE05', 'DEE07', 'DEE08', 'DEE09', 'DEE06',
       'DEE0A', 'DEE0B', 'DEE0C', 'DEE0D', 'DEE0E', 'DEG01', 'DEG02',
       'DEG03', 'DEG04', 'DEG05', 'DEG0N', 'DEG06', 'DEG07', 'DEG0P',
       'DEG09', 'DEG0A', 'DEG0B', 'DEG0C', 'DEG0D', 'DEG0E', 'DEG0F',
       'DEG0G', 'DEG0I', 'DEG0J', 'DEG0K', 'DEG0L', 'DEG0M', 'DE501',
       'DE502', 'DEA11', 'DEA12', 'DEA13', 'DEA14', 'DEA15', 'DEA16',
       'DEA17', 'DEA18', 'DEA19', 'DEA1A', 'DEA1B', 'DEA1C', 'DEA1D',
       'DEA1E', 'DEA1F', 'DEA22', 'DEA23', 'DEA24', 'DEA2D', 'DEA26',
       'DEA27', 'DEA28', 'DEA29', 'DEA2A', 'DEA2B', 'DEA2C', 'DEA31',
       'DEA32', 'DEA33', 'DEA34', 'DEA35', 'DEA36', 'DEA37', 'DEF01',
       'DEF02', 'DEF03', 'DEF04', 'DEF05', 'DEF06', 'DEF07', 'DEF08',
       'DEF09', 'DEF0A', 'DEF0B', 'DEF0C', 'DEF0D', 'DEF0E', 'DEF0F',
       'DE600', 'DE911', 'DE912', 'DE913', 'DE914', 'DE916', 'DE917',
       'DE918', 'DE91A', 'DE91B', 'DE91C', 'DE929', 'DE922', 'DE923',
       'DE925', 'DE926', 'DE927', 'DE928', 'DE931', 'DE932', 'DE933',
       'DE934', 'DE935', 'DE936', 'DE937', 'DE938', 'DE939', 'DE93A',
       'DE93B', 'DE941', 'DE942', 'DE943', 'DE944', 'DE945', 'DE946',
       'DE947', 'DE948', 'DE949', 'DE94A', 'DE94B', 'DE94C', 'DE94D',
       'DE94E', 'DE94F', 'DE94G', 'DE94H', 'DE11A', 'DE11B', 'DE11C',
       'DE11D', 'DE121', 'DE122', 'DE123', 'DE124', 'DE125', 'DE126',
       'DE127', 'DE128', 'DE129', 'DE12A', 'DE12B', 'DE12C', 'DE131',
       'DE132', 'DE133', 'DE134', 'DE135', 'DE136', 'DE137', 'DE138',
       'DE139', 'DE13A', 'DE141', 'DE142', 'DE143', 'DE144', 'DE145',
       'DE146', 'DE22C', 'DE231', 'DE232', 'DE233', 'DE234', 'DE235',
       'DE236', 'DE237', 'DE238', 'DE23A', 'DE241', 'DE242', 'DE244',
       'DE245', 'DE246', 'DE247', 'DE248', 'DE249', 'DE24A', 'DE24B',
       'DE24C', 'DE24D', 'DE251', 'DE252', 'DE253', 'DE254', 'DE255',
       'DE256', 'DE257', 'DE258', 'DE259', 'DE25A', 'DE25B', 'DE25C',
       'DE261', 'DE263', 'DE264', 'DE265', 'DE266', 'DE267', 'DE268',
       'DE269', 'DE26A', 'DE26B', 'DE26C', 'DE271', 'DE274', 'DE275',
       'DE276', 'DE277', 'DE278', 'DE279', 'DE27A', 'DE27B', 'DE27C',
       'DE27D', 'DE27E', 'DEC01', 'DEC02', 'DEC03', 'DEC04', 'DEC05',
       'DEC06', nan, 'DE147', 'DE148', 'DE149', 'DE211', 'DE212', 'DE213',
       'DE214', 'DE215', 'DE216', 'DE217', 'DE218', 'DE219', 'DE21A',
       'DE21B', 'DE21C', 'DE21D', 'DE21E', 'DE21F', 'DE21G', 'DE21H',
       'DE21I', 'DE21J', 'DE21K', 'DE21L', 'DE21M', 'DE21N', 'DE221',
       'DE222', 'DE223', 'DE224', 'DE225', 'DE226', 'DE227', 'DE228',
       'DE229', 'DE22A', 'DE22B', 'DE401', 'DE402', 'DE403', 'DE404',
       'DE405', 'DE406', 'DE407', 'DE408', 'DE409', 'DE40A', 'DE40B',
       'DE40C', 'DE40D', 'DE40E', 'DE40G', 'DE40H', 'DE40I', 'DE803',
       'DE804', 'DE80J', 'DE80K', 'DE80L', 'DE80M', 'DE80N', 'DE80O',
       'DED41', 'DED42', 'DED43', 'DED44', 'DED45', 'DED21', 'DED2C',
       'DED2D', 'DED2E', 'DED2F', 'DED51', 'DED52', 'DED53', 'DEE01',
       'DEE02', 'DEA38', 'DEA41', 'DEA42', 'DEA43', 'DEA44', 'DEA45',
       'DEA46', 'DEA47', 'DEA51', 'DEA52', 'DEA53', 'DEA54', 'DEA55',
       'DEA56', 'DEA57', 'DEA58', 'DEA59', 'DEA5A', 'DEA5B', 'DEA5C',
       'DE711', 'DE712', 'DE713', 'DE714', 'DE715', 'DE716', 'DE717',
       'DE718', 'DE719', 'DE71A', 'DE71B', 'DE71C', 'DE71D', 'DE71E',
       'DE721', 'DE722', 'DE723', 'DE724', 'DE725', 'DE731', 'DE732',
       'DE733', 'DE734', 'DE735', 'DE736', 'DE737', 'DEB11', 'DEB12',
       'DEB13', 'DEB14', 'DEB15', 'DEB1C', 'DEB17', 'DEB18', 'DEB1D',
       'DEB1A', 'DEB1B', 'DEB21', 'DEB22', 'DEB23', 'DEB24', 'DEB25',
       'DEB31', 'DEB32', 'DEB33', 'DEB34', 'DEB35', 'DEB36', 'DEB37',
       'DEB38', 'DEB39', 'DEB3A', 'DEB3B', 'DEB3C', 'DEB3D', 'DEB3E',
       'DEB3F', 'DEB3G', 'DEB3H', 'DEB3I', 'DEB3J', 'DEB3K', 'DE111',
       'DE112', 'DE113', 'DE114', 'DE115', 'DE116', 'DE117', 'DE118',
       'DE119'], dtype=object)

In [92]:
merged_BV = pd.merge(left=merged_left, right=BV, how='left', left_on='NUTS', right_on='NUTS3')
merged_BV.head()

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,NUTS,NUTS3,Flaeche,Bevoelkerung,maennlich,weiblich,Dichte
0,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,M,2,0,154936,2020-03-18T00:00:00.000Z,15003,DEE03,NaN,NaN,NaN,NaN,NaN,NaN
1,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154937,2020-03-12T00:00:00.000Z,15003,DEE03,NaN,NaN,NaN,NaN,NaN,NaN
2,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154938,2020-03-17T00:00:00.000Z,15003,DEE03,NaN,NaN,NaN,NaN,NaN,NaN
3,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154939,2020-03-10T00:00:00.000Z,15003,DEE03,NaN,NaN,NaN,NaN,NaN,NaN
4,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154940,2020-03-19T00:00:00.000Z,15003,DEE03,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
Alter = pd.read_csv('data/Altersgruppen_Geschlecht.csv', encoding = "utf-8", sep=';')
Alter.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf6 in position 3: invalid start byte

,IdBundesland,Bundesland,Landkreis,Altersgruppe,Geschlecht,AnzahlFall,AnzahlTodesfall,ObjectId,Meldedatum,IdLandkreis,county,NUTS
0,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,M,2,0,154936,2020-03-18T00:00:00.000Z,15003,SK Magdeburg,DEE03
1,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154937,2020-03-12T00:00:00.000Z,15003,SK Magdeburg,DEE03
2,15,Sachsen-Anhalt,SK Magdeburg,A35-A59,W,1,0,154938,2020-03-17T00:00:00.000Z,15003,SK Magdeburg,DEE03
3,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154939,2020-03-10T00:00:00.000Z,15003,SK Magdeburg,DEE03
4,15,Sachsen-Anhalt,SK Magdeburg,A60-A79,M,1,0,154940,2020-03-19T00:00:00.000Z,15003,SK Magdeburg,DEE03